header{
background: url(../DxRqwcyX0AAnta8.jpg) no-repeat center/cover;
height: 448px;

}

h1{
    color: #ffffff;
    font-size: 60px;

}
h2{
    font-size: 30px;
margin-left: 435px;
    color: #445161;
    margin-top: 45px;
}
h3{
    font-size: 30px;
    color: #445161;
}
p{
    font-size: 16px;
}
.row{

    margin-top: 55px;
}
 main img{
     width: 100%;
 }
 main p{
     margin-top: 29px;
 }
section .container{
margin-top: 98px;
}
section img{
    width: 100%;
}
section h4{
    font-size: 30px;
    margin-left: 435px;
        color: #445161;
        margin-top: 45px;
}
footer{
    height: 47px;
    width: 100%;
    background: #253544;
    color: #fff;
     
}
footer h5{
    margin-left:553px;
    font-size: 30px;
}





















